h1 {
    color: blue; /* Propriedade: valor */
    font-size: 24px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  
  .imagem {
    width:100px;
  }

  footer {
    background-color: #080674;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }